<div class="jumbotron" style="position: relative">
  <div class="text-center">
    <h1 class="display-4">PASINDU LAKMAL</h1>
    <h3>Full Stack Engineer | Tech Enthusiast</h3>
  </div>
  <div style="position: absolute; bottom: 5px; right: 5px">
    <a
      href="https://www.linkedin.com/in/pasindu-lakmal-nanayakkara-52586121a/"
      target="_blank"
      ><img
        src="../../assets/icons/linkedin.png"
        alt=""
        style="width: 24px; height: 24px"
        class="rounded-circle me-5"
      />
    </a>
    <a href="" target="_blank"
      ><img
        src="../../assets/icons/github.png"
        alt=""
        style="width: 24px; height: 24px"
        class="rounded-circle me-5"
      />
    </a>
    <a href="https://x.com/PasinduLakmalN1?s=09" target="_blank"
      ><img
        src="../../assets/icons/twitter.png"
        alt=""
        style="width: 24px; height: 24px"
        class="rounded-circle me-5"
      />
    </a>
    <a href="mailto:pasindu98nanayakkara@gmail.com" target="_blank"
      ><img
        src="../../assets/icons/social.png"
        alt=""
        style="width: 24px; height: 24px"
        class="me-5"
      />
    </a>
  </div>
</div>
