.container-image {
  background-image: url("../../assets/backgrounds/contact-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 75vh;
}
